Utalca/Utalca/Service References/ControlAsistencia/ControlAsistencia1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlAsistencia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlAsistencia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Curso" nillable="true" type="tns:Curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurso" nillable="true" type="tns:ArrayOfCurso" />
  <xs:complexType name="Curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alumnos" nillable="true" type="tns:ArrayOfParticipante" />
      <xs:element minOccurs="0" name="Ayudantes" nillable="true" type="tns:ArrayOfParticipante" />
      <xs:element minOccurs="0" name="Carrera" nillable="true" type="tns:Carrera" />
      <xs:element minOccurs="0" name="Creditos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horario" nillable="true" type="tns:ArrayOfClase" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="tns:Plan" />
      <xs:element minOccurs="0" name="Profesores" nillable="true" type="tns:ArrayOfParticipante" />
      <xs:element minOccurs="0" name="Requisitos" nillable="true" type="tns:ArrayOfCurso" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Syllabus" nillable="true" type="tns:Syllabus" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Curso" nillable="true" type="tns:Curso" />
  <xs:complexType name="ArrayOfParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participante" nillable="true" type="tns:Participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipante" nillable="true" type="tns:ArrayOfParticipante" />
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
  <xs:complexType name="Carrera">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrera" nillable="true" type="tns:Carrera" />
  <xs:complexType name="ArrayOfClase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clase" nillable="true" type="tns:Clase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClase" nillable="true" type="tns:ArrayOfClase" />
  <xs:complexType name="Clase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Presentes" nillable="true" type="tns:ArrayOfParticipante" />
      <xs:element minOccurs="0" name="Sala" nillable="true" type="tns:Recurso" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clase" nillable="true" type="tns:Clase" />
  <xs:complexType name="Recurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recurso" nillable="true" type="tns:Recurso" />
  <xs:complexType name="Plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plan" nillable="true" type="tns:Plan" />
  <xs:complexType name="Syllabus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Syllabus" nillable="true" type="tns:Syllabus" />
</xs:schema>