Utalca/Utalca/Service References/ControlAsistencia/ControlAsistencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlAsistencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://test.ingenieriautalca.cl/ControlAsistencia/ControlAsistencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://test.ingenieriautalca.cl/ControlAsistencia/ControlAsistencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://test.ingenieriautalca.cl/ControlAsistencia/ControlAsistencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlAsistencia" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControlAsistencia_Cursos_InputMessage">
    <wsdl:part name="parameters" element="tns:Cursos" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_Cursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CursosResponse" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_Curso_InputMessage">
    <wsdl:part name="parameters" element="tns:Curso" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_Curso_OutputMessage">
    <wsdl:part name="parameters" element="tns:CursoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_CursosPorProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:CursosPorProfesor" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_CursosPorProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CursosPorProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_RegistrarAsistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAsistencia" />
  </wsdl:message>
  <wsdl:message name="IControlAsistencia_RegistrarAsistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAsistenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IControlAsistencia">
    <wsdl:operation name="Cursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlAsistencia/Cursos" message="tns:IControlAsistencia_Cursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlAsistencia/CursosResponse" message="tns:IControlAsistencia_Cursos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Curso">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlAsistencia/Curso" message="tns:IControlAsistencia_Curso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlAsistencia/CursoResponse" message="tns:IControlAsistencia_Curso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CursosPorProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlAsistencia/CursosPorProfesor" message="tns:IControlAsistencia_CursosPorProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlAsistencia/CursosPorProfesorResponse" message="tns:IControlAsistencia_CursosPorProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAsistencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlAsistencia/RegistrarAsistencia" message="tns:IControlAsistencia_RegistrarAsistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlAsistencia/RegistrarAsistenciaResponse" message="tns:IControlAsistencia_RegistrarAsistencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControlAsistencia" type="tns:IControlAsistencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cursos">
      <soap:operation soapAction="http://tempuri.org/IControlAsistencia/Cursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Curso">
      <soap:operation soapAction="http://tempuri.org/IControlAsistencia/Curso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CursosPorProfesor">
      <soap:operation soapAction="http://tempuri.org/IControlAsistencia/CursosPorProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAsistencia">
      <soap:operation soapAction="http://tempuri.org/IControlAsistencia/RegistrarAsistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlAsistencia">
    <wsdl:port name="BasicHttpBinding_IControlAsistencia" binding="tns:BasicHttpBinding_IControlAsistencia">
      <soap:address location="http://test.ingenieriautalca.cl/ControlAsistencia/ControlAsistencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>